* {
    box-sizing: border-box;
    margin: 0;
    background-color: black
  }

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 25px;
    text-align: center;
    color: #FFFFFF;
}

img {
    height: 600px;
}

.choices {
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: white;
}

button {
display:inline-block;
padding: 10px;
border:0.1em solid #000000;
margin:0 2px 2px 0;
border-radius: 20px;
box-sizing: border-box;
text-decoration:none;
background-color:#FFFFFF;
text-align:center;
transition: all 0.15s;
text-align: center;
}
@media all and (max-width:30em){
a.button{
    display:block;
    margin:0.4em auto;
        }}

#water {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(111, 237, 249);
    text-align: center;
}
#water:hover{
    color:#0004f9;
    border: color rgb(56, 128, 223);
    }

#earth {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(246, 195, 67);;
}
#earth:hover{
    color:rgb(225, 117, 45);
    border: color rgb(255, 117, 45);
    }

#fire {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(255, 57, 57);
}
#fire:hover{
    color:rgb(250, 252, 140);
    border: color #ffe100;;
    }

#scoreboard {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #FFFFFF;
}
.container {
    position: relative;
    text-align: center;
}

#computer-choice {
    background-color: #FFFFFF;
    position: absolute;
    float: right;
    left: 75%;
    top: 5%;
}

#user-choice {
    background-color: #FFFFFF;
    position: absolute;
    float: left;
    left: 19%;
    bottom: 14%;
}

.container{
    max-width: 389px;
    align-content: center;
    align-self: center;
    margin: auto;
}

